.product-card-wrapper {
  padding: 24px;

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 500px;

    &.compact {
      width: 320px;
    }

    &.large {
      width: 700px;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}
